= simple_form_for(@poll) do |f|
  = f.error_notification

  .form-inputs
    = f.input :question
    = f.input :post_id, as: :hidden, input_html: { value: @post.id }


  .form-actions
    = f.button :submit
